# Hoist peer dependencies to reduce nested installations
# This makes pnpm behave more like npm/yarn in terms of hoisting
public-hoist-pattern[]=*@cfworker/json-schema*
public-hoist-pattern[]=*mongodb-client-encryption*
public-hoist-pattern[]=*socks*


