.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tslint.json
**/*.map
**/*.ts
**/*.tsx
.env
tsconfig.json
webpack.config.js
webpack.test.config.js
.eslintrc
.eslintignore
playgrounds/**
resources
.sbom/**
CHANGELOG.md
.claude/**
.github/**
.husky/**
.depcheckrc
.gitmodules
.prettierignore
.snyk
babel.config.json
pnpm-lock.yaml
.pnpm-store
scripts/**
playwright-report
test-results

# Ignore all files in ext except the skills folder
ext/**
!ext/agent-skills/skills/**
# Ignore the mongodb-mcp-setup skill since that is replaced by the vscode-specific
# configure-mongodb-mcp skill
ext/agent-skills/skills/mongodb-mcp-setup/**
