.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/*.tsx
.env
tsconfig.json
webpack.config.js
webpack.test.config.js
.eslintrc
.eslintignore
