.overview {
  text-align: center;
  margin: 0 auto;
  font-family: AkzidenzGroteskStd;
  width: 100%;
  font-size: 14px;
}

.overview-page-connection-form-modal {
  min-width: 700px;
  margin: 24px auto;
  border-radius: 3px;
  border: 1px solid orange;
}

.overview-header-bar {
  background-color: #3D4F58;
  margin: 0 auto;
  margin-top: 24px;
  height: 1px;
  width: 90%;
  min-width: 400px;
}

.overview-header-description {
  margin-top: 12px;
}

.overview-help-panel-container {
  margin-top: 69px;
  margin-bottom: 30px;
}
