.overview {
  text-align: center;
  margin: 0 auto;
  font-family: AkzidenzGroteskStd;
  width: 100%;
  font-size: 14px;
}

.overview-page-connection-form-modal {
  position: absolute;
  top: 54px;
  min-width: 700px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  background-color: var(--vscode-editor-background);
}

.overview-page-connect-form-modal-back {
  background-color: rgba(37, 37, 38, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overview-header-bar {
  background-color: #3D4F58;
  margin: 0 auto;
  margin-top: 24px;
  height: 1px;
  width: 90%;
  min-width: 400px;
}

.overview-header-description {
  margin-top: 12px;
}

.overview-help-panel-container {
  margin-top: 69px;
  margin-bottom: 30px;
}
