.connect-helper {
  margin-top: 60px;
  margin-bottom: 10px;
}

.connect-helper-connect-area {
  width: 400px;
  margin: 0 auto;
}

.connect-helper-message {
  margin-top: 10px;
}

.connect-helper-connect-option {
  width: 200px;
  display: inline-block;
  height: 200px;
  padding-top: 29px;
  font-size: 14px;
}

.connect-helper-connect-option-button {
  margin-top: 54px;
}

.connect-connection-string-area {
  background-color: rgba(228, 244, 228, 0.9);
  // TODO: Theme color.
  color: #21313C;
}

.connect-connection-form-area {
  background-color: rgba(255, 255, 255, 0.05);
  // TODO: Theme color.
  color: #d4d4d4;
}
