.info-sprinkle-icon {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);

  :hover {
    color: #fbb129;
  }
}
