.info-sprinkle-icon {
  display: inline-block;
  font-size: 15px;
  text-rendering: auto;
  margin: 0;
  margin-top: 3px;
}

.info-sprinkle {
  cursor: pointer;
  color: #FFFFFF;
  padding: 0px 5px;
  vertical-align: top;

  &:hover {
    color: #C3E7CA;
  }
}
