@import "~./styles/_variables";

.page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

.panel {
  border: 1px solid transparent;
}

.form-toggle {
  margin-top: 5px;

  div {
    border: none;
    background-color: var(--vscode-searchEditor-textInputBorder,
        rgba(161, 161, 161, 0.5));
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.connect-form-help-panel {
  margin: 30px;
  display: inline-block;
  vertical-align: top;
}

.connect {
  min-width: 700px;

  &-is-connected {
    border: 2px solid @green;
  }

  ::-webkit-scrollbar {
    width: 10px;

    &:horizontal {
      height: 10px;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.16);
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .connection-message-container {
    width: 100%;
    padding: 0px;
    margin-top: 5px;
    color: @pw;
    font-size: small;
    font-weight: bold;

    &-error {
      background: @alertRed;
      padding: 4px 10px;
      border-radius: 3px;
      background: #fcebe2;
      border: 1px solid #f9d3c5;
      word-break: break-all;
      color: #8f221b;
      font-size: small;
      font-weight: bold;
    }

    &-syntax-error {
      background: @warningText;
      padding: 4px 10px;
      border-radius: 3px;
      background: #fef7e3;
      border: 1px solid #fef2c8;
      word-break: break-all;
      color: #86681d;
      font-size: small;
      font-weight: bold;
    }

    &-success {
      color: white;
      background: @green;
      padding: 4px 10px;
      border-radius: 3px;
    }
  }

  .error {
    background-color: #ffeaea;
    border-bottom: 3px solid #ed271c;
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 100%;

    p {
      margin: 26px auto;
      width: 70%;
      color: #ed271c;
      text-align: center;
      font-weight: bold;
    }
  }
}

.buttons {
  margin: 0;
  margin-top: 20px;
}
