@font-dark__color: #21313c;
@font-white__color: #ffffff;
@alertRed: #cf4a22;
@warningText: #ffdd49;
@green: #00ed64;
@green-dark: #00684a;
@green-hover: #3f864b;
@green-selected: #c3e7ca;
@gray: #5d6c74;
@icon-button-hover__color: #fbb129;
