.connection-status {
  padding: 11.5px;
}

.connection-status-status-message {
  margin: 16px auto;
  margin-bottom: 34px;
}

.connection-status-playground-message {
  margin: 0 20px;

  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
}

.connection-status-create-playground-button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  margin: 0 20px;
  margin-top: 20px;
  height: 32px;
  width: 161px;
  color: white;
  background-color: #13AA52;
  transition: 250ms all;

  &:hover {
    cursor: pointer;
    background-color: #3F864B;
  }
}
