@import "~../../styles/_variables";

.connection-status {
  padding: 11.5px;
}

.connection-status-status-message {
  margin: 16px auto;
}

.connection-status-dot {
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 14px;

  &:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 8px;
    height: 8px;
    pointer-events: none;
  }
}

.connection-status-dot-connected:before {
  background-color: @green;
}

.connection-status-dot-disconnected:before {
  background-color: #BB2222;
}

.connection-status-playground-area {
  margin: 34px auto;
}

.connection-status-playground-message {
  margin: 0 20px;

  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  vertical-align: middle;
}

.connection-status-create-playground-button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  margin: 0 20px;
  margin-top: 20px;
  height: 32px;
  width: 161px;
  color: white;
  background-color: #13aa52;
  transition: 250ms all;

  &:hover {
    cursor: pointer;
    background-color: #3F864B;
  }
}

.connection-status-rename {
  color: var(--vscode-editor-foreground);
  padding: 2px 4px;
  margin-left: 4px;
  vertical-align: top;
  transition: 250ms all;
  background: none;
  border: none;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    color: @icon-button-hover__color;
  }
}
