
// Variables that are new:
@pw: var(--vscode-editor-background);
@alertRed: orange;
@warningText: orange;
@gray1: #21313C; // gray dark3
/* UI Grays */
@gray6: #B8C3C2; // gray light1
@gray9: #AAAAAA;
@gray10: #E4E4E4;
@green2: #13AA52; // Primary green
@compass-sidebar-base-background-color: purple;

// Already existed:
@compass-sidebar-secondary-text-color: @gray6;
@compass-sidebar-atlas-background-color: @gray1;
@compass-sidebar-atlas-background-color: lighten(hsl(204, 29%, 18%), 5%);


.page {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.panel {
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

form {
  display: block;
  margin-top: 0em;
  // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.075);
  padding: 15px 0;

  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.connect {
  &-atlas {
    background: @compass-sidebar-atlas-background-color;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 9px 0px;

    &-link {
      font-size: 14px;
      color: @pw;
      font-weight: bold;
      cursor: pointer;
      text-transform: none;
      padding-bottom: 2px;

      i {
        margin: 0px 8px 0px 9px;
      }
    }

    &-includes {
      color: @compass-sidebar-secondary-text-color;
      font-size: 12px;
      margin-left: 36px;
    }

    &-learn-more {
      color: @compass-sidebar-secondary-text-color;
      font-size: 12px;
      margin-left: 36px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-is-connected {
    border: 2px solid green;
  }

  ::-webkit-scrollbar {
    width: 10px;

    &:horizontal {
      height: 10px;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.16);
    }
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .form-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    overflow-y: auto;
    display: flex;

    .connect-container {
      margin-left: 20px;
      width: 100%;
      min-width: 360px;
      max-width: 800px;

      .connect-string {
        margin: 10px;

        &-item {
          overflow: auto;
          display: flex;
          flex-direction: column;
          margin: 0 25px 20px;

          label {
            text-align: left;
            padding: 10px 15px 10px 0;

            i {
              opacity: 0.35;
              top: 0;
            }
          }
        }
      }
    }

    .connection-message-container {
      width: 100%;
      padding: 0px 25px 20px;
      color: @pw;
      font-size: small;
      font-weight: bold;

      &-error {
        background: @alertRed;
        min-height: 30px;
        padding: 2px 10px;
        border-radius: 3px;
        background: #fcebe2;
        border: 1px solid #f9d3c5;
        word-break: break-all;
        color: #8f221b;
        font-size: small;
        font-weight: bold;
      }

      &-syntax-error {
        background: @warningText;
        min-height: 30px;
        padding: 2px 10px;
        border-radius: 3px;
        background: #fef7e3;
        border: 1px solid #fef2c8;
        word-break: break-all;
        color: #86681d;
        font-size: small;
        font-weight: bold;
      }

      &-success {
        background: @green2;
        min-height: 30px;
        padding: 2px 10px;
        border-radius: 3px;
      }

      .connection-message {
        flex-grow: 1;
        padding: 3px 0;
      }
    }

    .error {
      background-color: #ffeaea;
      border-bottom: 3px solid #ed271c;
      position: absolute;
      top: 0;
      left: 0;
      height: 72px;
      width: 100%;

      p {
        margin: 26px auto;
        width: 70%;
        color: #ed271c;
        text-align: center;
        font-weight: bold;
      }
    }

    .success {
      background-color: #90ee90;
      border-bottom: 3px solid #008000;
      position: absolute;
      top: 0;
      left: 0;
      height: 72px;
      width: 100%;

      p {
        margin: 26px auto;
        width: 70%;
        color: #008000;
        text-align: center;
        font-weight: bold;
      }
    }

    header {
      height: 72px;
      align-items: center;
      display: flex;
      flex-wrap: nowrap;

      h2 {
        display: inline-block;
        margin: 30px 0 0 10px;
        font-size: 24px;
        line-height: 30px;
      }
    }

    .change-view-link {
      font-weight: bold;
      text-align: right;
      padding-right: 10px;
      margin-top: -3px;

      a {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .connect-form {
    margin: 10px;

    .fields {
      display: block;
    }

    .form-group {
      display: block;

      .form-item {
        margin: 15px auto 15px;
        overflow: auto;
        display: flex;
        justify-content: flex-end;

        &-has-error {
          .form-control {
            border: 1px solid red;

            &:focus {
              border: 1px solid red;
            }
          }

          label {
            color: red;

            i {
              margin-right: 5px;
            }
          }

          .form-item-file-button {
            border: 1px solid red;
          }
        }

        label {
          width: 70%;
          text-align: right;
          padding-right: 15px;
          margin: auto;

          i.help {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            margin: 0 0 0 5px;
            cursor: pointer;
            color: #bfbfbe;

            :hover {
              color: #fbb129;
            }
          }

          i:before {
            content: '\f05a';
          }
        }

        &-switch-wrapper {
          width: 100%;
        }

        &-file-button {
          width: 100%;

          i {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            margin: 0 5px;
            cursor: pointer;
            color: #bfbfbe;
          }

          i.help {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            margin: 0 0 0 5px;
            cursor: pointer;
            color: #bfbfbe;

            :hover {
              color: #fbb129;
            }
          }
        }
      }
    }

    .form-group-separator {
      margin-bottom: 20px;
      border-bottom: 1px solid #eeeeee;

      .select-label {
        width: 68% !important;
      }
    }
  }

  .buttons {
    margin: 0 25px 10px;
    overflow: auto;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 5px;
    }
  }

  .disabled-uri {
    background-color: #e9eeec !important;
    box-shadow: none !important;
    color: #89989b !important;
  }

  .form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    width: 100%;

    &:focus {
      border: 1px solid #3db1f8;
    }

    &-switch {
      cursor: pointer;
    }
  }

  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.connect-sidebar-connections::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.24);
  }
}

.connect-sidebar-connections::-webkit-scrollbar-thumb {
  background-color: @compass-sidebar-base-background-color;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

// Global styles for compass-auth-kerberos, compass-auth-ldap,
// and compass-auth-x509 plugins
:global {
  .form-item {
    margin: 15px auto 15px;
    width: 500px;
    overflow: auto;
    display: flex;
    justify-content: flex-end;

    &-has-error {
      .form-control {
        border: 1px solid #843534;

        &:focus {
          border: 1px solid #843534;
        }
      }

      label {
        color: red;

        i {
          margin-right: 5px;
        }
      }

      .form-item-file-button {
        border: 1px solid #843534;
      }
    }

    label {
      width: 70%;
      text-align: right;
      padding: 5px 15px 0 0;
    }

    &-switch-wrapper {
      width: 100%;
    }

    &-file-button {
      width: 500px !important;

      i {
        padding-right: 5px;
      }

      i.help {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        margin: 0 5px;
        cursor: pointer;
        color: #bfbfbe;

        :hover {
          color: #fbb129;
        }
      }
    }
  }

  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
