name: Test and Build (from fork)
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  build-and-package:
    name: Check, Build and Package
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.15.1
          cache: npm

      - name: Check, build and package
        uses: ./.github/workflows/actions/build-and-package
        with:
          SEGMENT_KEY: ${{ secrets.SEGMENT_KEY_DEV }}
          ARTIFACTORY_HOST: ${{ secrets.ARTIFACTORY_HOST }}
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
          ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          GARASIGN_PASSWORD: ${{ secrets.GARASIGN_PASSWORD }}
          GARASIGN_USERNAME: ${{ secrets.GARASIGN_USERNAME }}
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

  test:
    name: Test
    needs: build-and-package
    if: github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.15.1
          cache: npm

      - name: Run tests
        uses: ./.github/workflows/actions/run-tests
        with:
          SEGMENT_KEY: ${{ secrets.SEGMENT_KEY_DEV }}

  merge-dependabot-pr:
    name: Merge Dependabot PR
    runs-on: ubuntu-latest
    needs:
      - test
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  status-check:
    name: Test and Build
    runs-on: ubuntu-latest
    needs: [build-and-package, test]
    if: always()
    steps:
      - name: Check job results
        run: |
          if [ "${{ needs.build-and-package.result }}" == "failure" ] || [ "${{ needs.test.result }}" == "failure" ]; then
            echo "One or more jobs failed"
            exit 1
          elif [ "${{ needs.build-and-package.result }}" == "cancelled" ] || [ "${{ needs.test.result }}" == "cancelled" ]; then
            echo "One or more jobs were cancelled"
            exit 1
          else
            echo "All jobs completed successfully or were skipped"
            exit 0
          fi
