name: Test and Build (from fork)
on:
  pull_request_target:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write

jobs:
  test-and-build:
    name: Test and Build
    if: github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.15.1
          cache: npm

      - name: Install Dependencies
        run: npm ci --omit=optional

      - name: Run Checks
        run: npm run check
        # the glob here just fails
        if: ${{ runner.os != 'Windows' }}

      - name: Run Tests
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          SEGMENT_KEY: ${{ secrets.SEGMENT_KEY_DEV }}
        run: npm run test

  merge-dependabot-pr:
    name: Merge Dependabot PR
    runs-on: ubuntu-latest
    needs:
      - test-and-build
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
