name: Test and Build (from fork)
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  build-and-package:
    name: Check, Build and Package
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.15.1
          cache: npm

      - name: Check, build and package
        uses: ./.github/workflows/actions/build-and-package
        with:
          SEGMENT_KEY: ${{ secrets.SEGMENT_KEY_DEV }}
          ARTIFACTORY_HOST: ${{ secrets.ARTIFACTORY_HOST }}
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
          ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          GARASIGN_PASSWORD: ${{ secrets.GARASIGN_PASSWORD }}
          GARASIGN_USERNAME: ${{ secrets.GARASIGN_USERNAME }}
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

  test:
    name: Test
    needs: build-and-package
    if: github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v4
        with:
          node-version: 22.15.1
          cache: npm

      - name: Install Dependencies
        run: npm ci --omit=optional

      - name: Run Checks
        run: npm run check
        # the glob here just fails
        if: ${{ runner.os != 'Windows' }}

      - name: Run Tests
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          SEGMENT_KEY: "test-segment-key"
        run: npm run test
