name: Test and Build
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  build-and-check:
    name: Build and Check
    if: github.event_name != 'pull_request' || (github.event.pull_request.user.login != 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository)

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node environment
        uses: ./.github/workflows/actions/setup-node-environment

      - name: Set SEGMENT_KEY
        env:
          SEGMENT_KEY: ${{ secrets.SEGMENT_KEY_PROD }}
        run: |
          echo "SEGMENT_KEY=${SEGMENT_KEY}" >> $GITHUB_ENV
        shell: bash

      - name: Validate SEGMENT_KEY
        run: |
          if [ -z "${SEGMENT_KEY}" ]; then
            echo "SEGMENT_KEY is not set or is empty"
            exit 1
          fi
        shell: bash

      - name: Run Checks
        run: pnpm run check
        shell: bash

      - name: Build .vsix
        env:
          NODE_OPTIONS: "--require ./scripts/no-npm-list-fail.js --max_old_space_size=4096"
        run: |
          pnpm exec vsce package --githubBranch main
        shell: bash

      - name: Check .vsix filesize
        run: pnpm run check-vsix-size
        shell: bash

      - name: Upload .vsix for tests
        uses: actions/upload-artifact@v4
        with:
          name: vsix
          path: '*.vsix'

  test:
    name: Run Tests
    needs: build-and-check

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node environment
        uses: ./.github/workflows/actions/setup-node-environment

      - name: Run Tests
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          MDB_IS_TEST: "true"
        run: |
          pnpm run test
        shell: bash

  test-install:
    name: Run Install Test
    needs: build-and-check

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node environment
        uses: ./.github/workflows/actions/setup-node-environment

      - name: Download .vsix
        uses: actions/download-artifact@v4
        with:
          name: vsix

      - name: Run VSIX Install Test
        env:
          RUNNER_OS: ${{ runner.os }}
        run: pnpm run test-install
        shell: bash

  finalize:
    name: Sign and Upload
    needs: [test, test-install]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node environment
        uses: ./.github/workflows/actions/setup-node-environment

      - name: Download .vsix
        uses: actions/download-artifact@v4
        with:
          name: vsix

      - name: Sign .vsix
        env:
          ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
          ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          GARASIGN_PASSWORD: ${{ secrets.GARASIGN_PASSWORD }}
          GARASIGN_USERNAME: ${{ secrets.GARASIGN_USERNAME }}
        run: |
          set -e
          FILE_TO_SIGN=$(find . -maxdepth 1 -name '*.vsix' -print -quit)
          if [ -z "$FILE_TO_SIGN" ]; then
            echo "Error: No .vsix file found in the current directory." >&2
            exit 1
          fi
          node scripts/sign-vsix.js "${FILE_TO_SIGN}"
          ls *.vsix.sig
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: VSIX
          path: |
            *.vsix
            *.vsix.sig

  test-snyk:
    name: Vulnerability Report
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node environment
        uses: ./.github/workflows/actions/setup-node-environment

      - name: Run Snyk Test
        shell: bash
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          pnpm run snyk-test

      - name: Upload Snyk Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Snyk Report - ${{ github.run_id }}
          path: |
            .sbom/snyk-test-result.html
            .sbom/snyk-test-result.json

      - name: Generate Vulnerability Report (Fail on >= High)
        shell: bash
        run: |
          pnpm run generate-vulnerability-report
